.player {
    margin: auto;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
}

.player .button-menu-player {
    background-color: black;
    display: flex;
    flex-direction: row;
}
.player .player-button {
    height: 15px;
    width: 15px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    margin: 7px 20px 12px 3px;
}
.player .player-icon {
    color: white;
    font-size: 20px;
}

