.player {
    margin: auto;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
}

.player .button-menu-player {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.player .player-button {
    height: 35px;
    width: 35px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    color: white;
}

